/* rubik-regular - cyrillic_latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v28-cyrillic_latin-regular.woff2") format("woff2");
  font-display: swap;
}

/* rubik-500 - cyrillic_latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v28-cyrillic_latin-500.woff2") format("woff2");
  font-display: swap;
}

/* rubik-700 - cyrillic_latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v28-cyrillic_latin-700.woff2") format("woff2");
  font-display: swap;
}

/* rubik-900 - cyrillic_latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/rubik-v28-cyrillic_latin-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  --color-primary: #262a2f;
  --color-accent: #ff5533;
  --color-grey: #868686;
  --color-white: #fff;

  --grid-column-width: 101px;
  --grid-gap: 20px;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-primary);
  background-color: #ebebeb;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, var(--grid-column-width));
  gap: var(--grid-gap);
}

.container {
  max-width: 1435px;
  margin: 0 auto;
}
